*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --yellow: #f1be32;
    --golden-yellow: #feac32;
    --dark-purple: #110815;
    --light-grey: #efefef;
}
body{
    background-color: var(--dark-purple);
    color: var(--light-grey);
    text-align: center;
}
.container{
    margin: 15px 0 25px;
    font-size: 1.5rem;
}
.btn{
    cursor: pointer;
    padding: 3px;
    margin: 3px;
    background-color: var(--golden-yellow);
    background-image: linear-gradient(#fecc4c, #ffac33);
    color: var(--dark-purple);
    border-color: var(--light-grey);
    border-width: 3px;
}
.btn:hover{
    background-image: linear-gradient(#ffcc4c, #f89808);
}